/* stilizzazione sito */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container-full-width {
    position: relative;
}

.blu {
    height: 500px;
    background-color: #0E325A;
}

.grigio {
    height: 100px;
    background-color: #D3D3D3;
}

.bianco {
    height: 600px;
    background-color: white;
}

.contenitore {
    width: 80%;
    max-width: 1400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    /* da cancellare */
    height: 100%;
    background-color: orange;
    border: 1px solid white;
}

/* stilizzazione menu */

.menu {
    width: 100%;
    height: 80px;
}

.immagine-menu {
    width: 15%;
    height: 100%;
    float: left;
    position: relative;
}

.immagine-menu img {
    width: 130px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-menu {
    width: 45%;
    float: left;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    text-transform: uppercase;
    padding-left: 8px;
    font-size: 12px;
    color: white;
}

.tasti-menu {
    width: 40%;
    height: 100%;
    float: left;

    /* da cancellare */
    background-color: green;
    border: 1px solid white;
}

/* stilizzazione prima fascia */

.header {
    width: 100%;
    height: 420px;
}

.blocco {
    width: 50%;
    height: 100%;
}

.sx {
    float: left;
    position: relative;
}

.contenitore-blocco-sx {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.bloccosx-sopra {
    width: 100%;
    height: 80%;
}

.bloccosx-sopra h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: left;
    position: absolute;
    font-size: 38px;
}

.bloccosx-sotto {
    width: 100%;
    height: 20%;
}

.bloccosx-sotto input {
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    padding: 15px 20px 15px 20px;
    background-color: #7CBB22;
    border-radius: 5px;
    border: 1px solid #7CBB22;
}

.dx {
    float: left;
}

/* stilizzazione seconda fascia */


/* stilizzazione terza fascia */

.card {
    width: 33.3333%;
    float: left;

    /* da cancellare */
    height: 100%;
    background-color: violet;
    border: 1px solid white;
}
